@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 18 2024
Fecha modificación:
Bugs:
Pendiente: Insertar Audio
/////////////////////////////////////
*@

@page "/D_25"
@inject IJSRuntime JS
@using KinderYoga.Data;
@using KinderYoga.Data.Helper;

<PageTitle>25-Julio</PageTitle>

<div style="position: absolute;"> 
    <img class="imgfd" src="/nota.png" />
</div>


<article class="contenido transparent">
    <section class="izquierdo">

        <br /><br /><br />
        <h2 class="title">    Ejercicio de Terapia Ritmica 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />
        <video class="radius space" style="height: 330px; width:500px;" controls="controls">
            <source src="/video/julio/terapia_ritmica_1_d25.mp4" type="video/mp4" />
        </video>
        
        <video class="radius space" style="height: 330px; width:500px;" controls="controls">
            <source src="/video/julio/terapia_ritmica_2_d25.mp4" type="video/mp4" />
        </video>
    </section>
    <br /><br /><br />

    <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Mantra Semanal 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
    <section style="display:flex;">
        
        <br />  <br />  <br />

        <div id="imgx" style="display:none;">
            <img id="img_size" style=" height:500px; width:600px;" src="@img_Max" />
            <button style=" position:absolute; border:0;  transform: translate(-90%, -1%); border-radius:15%; background-color: rgba(255,255,255,0.2);  " @onclick="OcultarImg"><img style="height:30px; width:30px;  " src="/audio/close.png" /></button>
        </div>
        <div class="" style="display: block; width:100%;">

            <br /><br />

            <img class="radius space visorimg imgopn" src="@Constante._img[10]" @onclick="() => MostarImgMax(Constante._img[10])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[11]" @onclick="() => MostarImgMax(Constante._img[11])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[12]" @onclick="() => MostarImgMax(Constante._img[12])" />

            @*<span @onclick="closev" >X</span>*@

        </div>
        <br /><br />

    </section>
    <section class="derecho">
        
        <video class="radius space" style="height: 330px ; width:500px; margin-right:30%;" controls="controls">
            <source src="/video/julio/ayur_mantra_d25.mp4" type="video/mp4" />
        </video>
    </section>
    <br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Musica en la primera Infancia 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/5twDPSzzGkY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/K-2d84OPULw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/4AEVBSS8cow" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/URGRQ2MAA8U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Musicoterapia al final de la vida 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/8JM-ZDkInQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Musicoterapia en la Adolescencia  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/NQV4Owce5Pc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Musicoterapia en la etapa Adulta  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/NVsk0fY0Njw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />

    <section class="izquierdo">

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia en la Gestacion   𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/OWpiY3IY9ko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/JRcQkLriVh4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/j3OFejHnYC0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia en Adultos Mayores  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/Zx_kC_Z55ro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/Zx_kC_Z55ro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section style="margin-right:150px; ">

        <br />

        <div class="audio-player" style="background: linear-gradient( 70deg, #edaef9,#81b1fa ); margin-right:375px; " id="skin">

            <div class="holder">

                <p id="titlesong" style="text-align: center; color:#56125B; display: none;">Ayur Mantra</p>
                <div class="audio-wrapper" id="player-container" href="javascript:;">
                    <audio id="player" preload="metadata" onloadedmetadata="mDur()" ontimeupdate="initProgressBar()">
                        <source src="@Constante._src[4]" type="audio/mp3">

                    </audio>
                </div>
                <div class="player-controls scrubber">
                    <div>
                        <div>
                            <p class="title"></p>
                        </div>
                        <div class="range">
                            <input id="dur" type="range" class="range" name="rng" min="0" max="1" step="0.00000001" value="0" onchange="mSet()" style="width: 100%">
                        </div>
                        <br>
                        <div id="start-time" class="time start-time"></div>
                        <div id="end-time" class="time end-time"></div>

                        <br>
                        <div class="ctrl">
                            <div class="image">

                                @*<button id="play-btn" class="fa fa-play "></button>*@
                                <button id="play-btn" class="play-btn" @onclick="@(()=> PlayPause()  )"> <i class="fa-solid @_btnPlayStyle"></i> </button>

                                <a href="./Audio/d4Jl_atencion_los_sonidos.mp3" download class="ctrl_btn " title="Descargar" id="next"><i class="fa fa-download"></i></a>
                            </div>
                            <div class="volumeControl">
                                <div class="wrapper">
                                    <input type="range" class="inner" min="0" max="1" step="0.01" value="@_VolX" @oninput="@((args) => Vol( double.Parse( args.Value.ToString() )))" />


                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <br /><br />
    <section>
        <div style="display:inline-flex;" >
            <audio id="plr" style="margin-left: 578px;" controls src="/Audio/d25Jl_humming.mp3"></audio>
            <a style="margin-top:5px;" href="./Audio/d25Jl_humming.mp3" download class="ctrl_btn " title="Descargar" id="next"><img style="height: 40px; width:40px;" src="/audio/download_blue.png" /></a>
        </div>
        <div style="display:inline-flex;">
            <audio id="plr" style="margin-left: 578px;" controls src="/Audio/d25Jl_practica_diaria_25-07.mp3"></audio>
            <a style="margin-top:5px;" href="./Audio/d25Jl_practica_diaria_25-07.mp3" download class="ctrl_btn " title="Descargar" id="next"><img style="height: 40px; width:40px;" src="/audio/download_blue.png" /></a>
        </div>
    </section>



    <br /><br />
    <section >
        
        <br /><br /><br />
        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none;  text-align:center; " href="/video/julio/clase_9_semana_d25.pdf">Musicoterapia Holistica.pdf</a>
        </div>
    </section>
    <br /><br /><br />
    <section>
        
        <br /><br /><br />

        <video class="radius space sizevideo" style="margin-left:385px;" controls="controls">
            <source src="/video/julio/clase%209%20semana_d25.mp4" type="video/mp4" />
        </video>

    </section>
    


</article>
<Footer />
@code {
    private string img_Max = null;
    
    // esta bandera es para saber si esta en reproducción
    private bool _EnPlay = false;
    private string _btnPlayStyle { get; set; } = "fa-play";


    private double _Vol { get; set; } = 1;
    private double _VolX { get; set; } = 1;
    private string _VolStyle { get; set; } = "width:100%";


    private async Task MostarImgMax(string url)

    {

        img_Max = url;

        await JS.InvokeVoidAsync("ImgMax");

    }

    private async Task OcultarImg()

    {
        await JS.InvokeVoidAsync("Imgcls");

    }


    private async Task PlayPause()
    {

        if (_EnPlay)
        {
            await JS.JSStop();
            _btnPlayStyle = "fa-play";
        }
        else
        {
            await JS.JSPlay();
            _btnPlayStyle = "fa-pause";
        }

        _EnPlay = !_EnPlay;
        StateHasChanged();

    }

    private async Task Vol(double xVol)
    {
        _VolX = xVol;
        await JS.JSVol50(_VolX);
    }

    /// <summary>
    /// Ya no se usa fue prueba
    /// </summary>
    /// <param name="Tipo"></param>
    /// <returns></returns>
    private async Task Vo50(int Tipo)
    {


        switch (Tipo)
        {
            case -1:
                _Vol = 0;
                _VolX = 0;
                break;
            case 0:
                _Vol -= .1;
                break;
            case 1:
                _Vol += .1;
                break;
        }

        if (_Vol < 0)
            _Vol = 1;

        if (_Vol > 1)
            _Vol = 1;

        _VolStyle = $"width:{_Vol * 100}%";

        await JS.JSVol50(_Vol);
    }

}
