@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 20 / 2024
Fecha modificación:
Bugs:
Pendiente: 
/////////////////////////////////////
*@


@page "/D_10"

@inject IJSRuntime JS
@using KinderYoga.Data.Helper;


<PageTitle> 3-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

    <section style="display:flex;">
        
        
        <div id="imgx" style="display:none;">
            <img id="img_size" style=" height:500px; width:600px;" src="@img_Max" />
            <button style=" position:absolute; border:0;  transform: translate(-90%, -1%); border-radius:15%; background-color: rgba(255,255,255,0.2);  " @onclick="OcultarImg"><img style="height:30px; width:30px;  " src="/audio/close.png" /></button>
        </div>
        <div class="" style="display: block;" id="">
                
            <br /><br />
            <img class="radius space visorimg imgopn" src="@Constante._img[0]" @onclick="() => MostarImgMax(Constante._img[0])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[1]" @onclick="() => MostarImgMax(Constante._img[1])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[2]" @onclick="() => MostarImgMax(Constante._img[2])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[3]" @onclick="() => MostarImgMax(Constante._img[3])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[4]" @onclick="() => MostarImgMax(Constante._img[4])" />
            <img class="radius space visorimg imgopn" src="@Constante._img[5]" @onclick="() => MostarImgMax(Constante._img[5])" />
            
            @*<span @onclick="closev" >X</span>*@

        </div> 
        <br /><br />
       
    </section>
    <br /><br /><br />
    <section style=" display:inline-flex; " >

        <div id="docto" class="radius" style="text-align:center; padding-top:11px; ">
            
            <a target="_blank" style="text-decoration:none;" href="/video/agosto/mth_infantil_animalitos_vanina_d10.pdf">MTH Infantil Animalitos.pdf</a>

        </div>

        <div id="docto" class="radius" style="text-align:center; padding-top:10px;  ">
            
            <a target="_blank" style="text-decoration:none; " href="/video/agosto/cuencos_tibetanos_d10.pdf">Cuencos Tibetanos.pdf</a>
        </div>

        <div id="docto" class="radius" style="text-align:center; padding-top:20px;  ">
            
            <a target="_blank" style="text-decoration:none; " href="/video/agosto/voz_terapeutica_d10.pdf">Voz Terapeutica.pdf</a>

        </div>

        <div id="docto" class="radius" style="text-align:center; padding-top:11px;  ">
            
            <a target="_blank" style="text-decoration:none; " href="/video/agosto/sesion_mth_luisa_chavez_d10.pdf">MTH Infantil Luisa Ch.pdf</a>
        </div>


    </section>
    <br /><br /><br />
    <section>
        <video class="radius space sizevideo" style="margin-left:390px; width:690px;" controls="controls">
            <source src="/video/agosto/clase_14_semana_d10.mp4" type="video/mp4" />
        </video>
    </section>

  
</article>



<Footer />
@code {

    private string img_Max = null;


    private async Task MostarImgMax(string url)

    {

        img_Max = url;
        
        await JS.InvokeVoidAsync("ImgMax");
        
    }

    private async Task OcultarImg()

    {
        await JS.InvokeVoidAsync("Imgcls");

    }

   


    //private async Task closev()
    //{
    //    await JS.InvokeVoidAsync("visorc");

    //}
    


    //public async Task Openimg(MouseEventArgs e)
    //{
    //    var imagesrc = e.Target.GetAttribute("data-src");

    //    await JS.InvokeVoidAsync("openimg", imagesrc);
    //}
    
}
