
@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 19 / 2024
Fecha modificación:
Bugs:
Pendiente: Incluir audio
/////////////////////////////////////
*@


@page "/D_5"
@inject IJSRuntime JS
@using KinderYoga.Data;
@using KinderYoga.Data.Helper;

<PageTitle> 5-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

<section class="izquierdo">
    <br /><br />
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 OM SHANTI 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <div>

            <p>
                <br />
                Este ejercicio de Mantra es para tener en cuenta lo siguiente:<br />
                <br />
                1.-P- Construir tu Postura<br />
                2.-RE- Concentrarte en una respi ración rítmica <br />
                3.-M- Observar conscientemente cualquier movimiento <br />
                4.-A- Desarrollar una actitud, un sentimiento al cantarlo <br />
                5.-S- Ir puliendo tu sonido mientras lo practicas <br />

            </p>
        </div>

</section>

    <br /><br /><br />

    <section style="margin-right:150px; ">

        <br />

        <div class="audio-player" style="background: linear-gradient( 70deg, #edaef9,#81b1fa ); margin-right:375px; " id="skin">

            <div class="holder">

                <p id="titlesong" style="text-align: center; color:#56125B; display: none;">Formula Om Shanti</p>
                <div class="audio-wrapper" id="player-container" href="javascript:;">
                    <audio id="player" preload="metadata" onloadedmetadata="mDur()" ontimeupdate="initProgressBar()">
                        <source src="@Constante._src[5]" type="audio/mp3">

                    </audio>
                </div>
                <div class="player-controls scrubber">
                    <div>
                        <div>
                            <p class="title"></p>
                        </div>
                        <div class="range">
                            <input id="dur" type="range" class="range" name="rng" min="0" max="1" step="0.00000001" value="0" onchange="mSet()" style="width: 100%">
                        </div>
                        <br>
                        <div id="start-time" class="time start-time"></div>
                        <div id="end-time" class="time end-time"></div>

                        <br>
                        <div class="ctrl">
                            <div class="image">

                                @*<button id="play-btn" class="fa fa-play "></button>*@
                                <button id="play-btn" class="play-btn" @onclick="@(()=> PlayPause()  )"> <i class="fa-solid @_btnPlayStyle"></i> </button>

                                <a href="./Audio/d4Jl_atencion_los_sonidos.mp3" download class="ctrl_btn " title="Descargar" id="next"><i class="fa fa-download"></i></a>
                            </div>
                            <div class="volumeControl">
                                <div class="wrapper">
                                    <input type="range" class="inner" min="0" max="1" step="0.01" value="@_VolX" @oninput="@((args) => Vol( double.Parse( args.Value.ToString() )))" />


                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <br /><br />
<section class="derecho">
        <br /><br />

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Mantras 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/guZI5Z_37Yk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/M8TZ-f2DT4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/6RR3lRvUosE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/uOuIgTSyVIk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/DEzvztais7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/VOprf7160bw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/TTUhFXbEnvY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/40Y1QFIlEqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/HlvHJ9oa4-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/VMCAEZzL5do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/hMED-AGewAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/S0nUTYWqlJA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/YQrs9zlOW1U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/-ZnMna-OZyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/DOPXmLc0fcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/-xFje2ZWtKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/GePN4-Cajvk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <video class="radius space" style="width:400px; height:220px;" controls="controls">
            <source src="/video/agosto/radh_d5.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="width:400px; height:220px;" controls="controls">
            <source src="/video/agosto/you_can_count_on_me_d5.mp4" type="video/mp4" />
        </video>
        @*class="radius space" style="width:400px; height:220px;"*@
        
    </section>


    
</article>

<Footer />
@code {
    // esta bandera es para saber si esta en reproducción
    private bool _EnPlay = false;
    private string _btnPlayStyle { get; set; } = "fa-play";


    private double _Vol { get; set; } = 1;
    private double _VolX { get; set; } = 1;
    private string _VolStyle { get; set; } = "width:100%";

    private async Task PlayPause()
    {

        if (_EnPlay)
        {
            await JS.JSStop();
            _btnPlayStyle = "fa-play";
        }
        else
        {
            await JS.JSPlay();
            _btnPlayStyle = "fa-pause";
        }

        _EnPlay = !_EnPlay;
        StateHasChanged();

    }

    private async Task Vol(double xVol)
    {
        _VolX = xVol;
        await JS.JSVol50(_VolX);
    }

    /// <summary>
    /// Ya no se usa fue prueba
    /// </summary>
    /// <param name="Tipo"></param>
    /// <returns></returns>
    private async Task Vo50(int Tipo)
    {


        switch (Tipo)
        {
            case -1:
                _Vol = 0;
                _VolX = 0;
                break;
            case 0:
                _Vol -= .1;
                break;
            case 1:
                _Vol += .1;
                break;
        }

        if (_Vol < 0)
            _Vol = 1;

        if (_Vol > 1)
            _Vol = 1;

        _VolStyle = $"width:{_Vol * 100}%";

        await JS.JSVol50(_Vol);
    }
}
